body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

/* header */
header {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f3f4f5;
}

header h1 {
    font-size: 30px;
    margin: 0;
    color: #181819;
}

a {
    text-decoration: none;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 20px 0 20px;
    font-size: 20px;
}

nav ul li a {
    color: #7C7C7D;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #181819;
}

nav ul li a.active {
    color: black;
}

header .navbarButtons {
    display: flex;
    justify-content: flex-end;
}

header .navbarButtons a {
    display: inline-flex;
    align-items: center;
    padding: 8px 18px;
    border: 1px solid #181819;
    border-radius: 10px;
    margin-left: 25px;
    color: black;
}

header .navbarButtons a img {
    margin-right: 7px;
}

/* Banner */
.banner {
    position: relative;
    width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

section .banner-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

section .banner-content {
    font-size: xx-large;
    position: absolute;
    top: 130px;
    left: 20px;
    right: 20px;
    color: #fff;
    padding: 15px;
}

/* Latest Products */
.latest-products {
    text-align: center;
    margin: 100px 0px 50px 0;
}

.latest-products h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #212529;
}

.latest-products hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #CDCECF;
}

section .filter-buttons {
    display: flex;
    margin: 80px 0 40px 0;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

section .filter-buttons .filter-btn {
    padding: 10px 15px;
    border: 1px solid #474A4D;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 7px;
}

section .filter-buttons .filter-btn:hover {
    background-color: #212529;
    color: #FFFFFF;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 15px 150px 20px;
    margin-top: 20px;
}

/* Individual Product Card */
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    background: #FFFFFF;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.product-card .product-info img {
    margin-bottom: 15px;
    object-fit: cover;
    max-width: 100%;
    height: 250px;
}

.product-card .product-info h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #212426;
}

.product-card .product-info p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #2F3A43;
}

.product-card .price-box .price {
    font-weight: lighter;
    font-size: 17px;
    color: #231E21;
    margin: 10px 0;
}

.product-card .button-box {
    margin-top: 10px;
}

.product-card button {
    background-color: #1C1D1F;
    color: #FFFFFF;
    border: none;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.product-card button:hover {
    background-color: #34383a;
}

/* End credits - my name */
.myNameatBottom {
    text-align: center;
    margin: 50px 0;
}

.myNameatBottom .underlined {
    text-decoration: underline;
    font-family: cursive;
}

/* About Us page styles */

.containerAboutUs {
    max-width: 88%;
    margin: 100px auto;
    padding: 20px;
}

.about-us-title {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    color: #212529;
    margin: 10px 0;
}

.about-us-para {
    text-align: center;
    color: #666666;
    font-size: x-large;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-us-products-title {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    color: #212529;
    margin: 40px 0 10px 0;
}

.about-us-products {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-us-product-card {
    width: 23%;
    text-align: center;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.about-us-product-image {
    width: 100%;
    /* height: 150px; */
    /* object-fit:cover; */
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

