body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* header */
header {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin: 0;
    color: #181819;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 20px 0 20px;
    font-size: 20px;
}

nav a.active {
    color: #181819;
}

a {
    text-decoration: none;
    color: #737273;
    transition: color 0.3s ease;
}

.navbarButtons {
    display: flex;
    justify-content: flex-end;
}

.navbarButtons a {
    display: inline-flex;
    align-items: center;
    padding: 8px 18px;
    border: 1px solid #181819;
    border-radius: 10px;
    margin-left: 25px;
    color: black;
}

.navbarButtons a img {
    margin-right: 7px;
}

/* section - banner image  */
.banner {
    position: relative;
    width: calc(100% - 40px);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

.banner-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner-content {
    font-size: xx-large;
    position: absolute;
    top: 130px;
    left: 20px;
    right: 20px;
    color: #fff;
    padding: 15px;
}

.banner-content h2 {
    margin-bottom: 10px;
}

/* latest-products */
.latest-products {
    margin-top: 70px;
    text-align: center;
}

.latest-products h2 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 100;
    color: #212529;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.latest-products hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #CDCECF;
}

.filter-buttons {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
}

.filter-btn {
    padding: 10px 15px;
    border: 1px solid #474A4D;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 7px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.product-card {
    /* Style for individual product cards */
}